# dependencies
node_modules

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
pnpm-debug.log*

# local env files
.env
.env.local
.env.production
.env.development

# turbo
.turbo

# vercel
.vercel

# cursor
/cursor/
