@tailwind base;
@tailwind components;
@tailwind utilities;

/* And Voila GG Light
--black: hsla(0, 0%, 0%, 1);
--night: hsla(240, 8%, 9%, 1);
--raisin-black: hsla(216, 6%, 15%, 1);
--dim-gray: hsla(228, 5%, 40%, 1);
--cadet-gray: hsla(214, 16%, 64%, 1);
--french-gray: hsla(217, 16%, 84%, 1);
--platinum: hsla(220, 15%, 88%, 1);
--antiflash-white: hsla(210, 20%, 92%, 1);
--mint: hsla(155, 61%, 44%, 1);
--iris: hsla(256, 50%, 52%, 1);
*/

/* And Voila GG Dark
--black: hsla(0, 0%, 0%, 1); 
--night: hsla(240, 8%, 9%, 1);
--raisin-black: hsla(216, 6%, 15%, 1);
--gray: hsla(225, 5%, 47%, 1);
--cadet-gray: hsla(214, 16%, 64%, 1);
--antiflash-white: hsla(0, 0%, 92%, 1);
--white-smoke: hsla(0, 0%, 96%, 1);
--white: hsla(60, 100%, 100%, 1);
--mint: hsla(155, 61%, 44%, 1);
--medium-slate-blue: hsla(255, 83%, 65%, 1);
*/

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 210 20% 92%; /* 50 */
    --foreground: 0 0% 0%; /* 950 */

    --card: 0 0% 100%; /* white */
    --card-foreground: 0 0% 0%; /* 950 */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 0 0% 0%; /* 950 */

    --primary: 240 8% 9%; /* 900 */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 220 15% 88%; /* 100 */
    --secondary-foreground: 240 8% 9%; /* 900 */

    --muted: 220 15% 88%; /* 100 */
    --muted-foreground: 228 5% 40%; /* 500 */

    --accent: 220 15% 88%; /* 100 */
    --accent-foreground: 240 8% 9%; /* 900 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 92%; /* 50 */

    --border: 217 16% 84%; /* 200 */
    --input: 217 16% 84%; /* 200 */

    --ring: 256 50% 52%; /* brand */
    --radius: 0.5rem;

    --brand: 256 50% 52%;
    --alternate: 155 61% 44%;
  }

  .dark {
    --background: 0 0% 0%; /* 950 */
    --foreground: 0 0% 100%; /* white */

    --card: 0 0% 0%; /* 950 */
    --card-foreground: 210 20% 92%; /* 50 */

    --popover: 0 0% 0%; /* 950 */
    --popover-foreground: 210 20% 92%; /* 50 */

    --primary: 210 20% 92%; /* 50 */
    --primary-foreground: 240 8% 9%; /* 900 */

    --secondary: 216 6% 15%; /* 800 */
    --secondary-foreground: 210 20% 92%; /* 50 */

    --muted: 216 6% 15%; /* 800 */
    --muted-foreground: 214 16% 64%; /* 400 */

    --accent: 216 6% 15%; /* 800 */
    --accent-foreground: 210 20% 92%; /* 50 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 92%; /* 50 */

    --border: 223 6% 24%; /* 700 */
    --input: 223 6% 24%; /* 700 */

    --ring: 255 83% 65%; /* brand */
    --radius: 0.5rem;

    --brand: 255 83% 65%;
    --alternate: 155 61% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring;
}

/* Pulsing animation */
@keyframes pulseLoop {
  0% {
    opacity: 0;
    transform: scale(0.25) translateZ(0);
  }

  30% {
    opacity: 0.4;
  }

  70% {
    opacity: 0;
  }

  80% {
    transform: scale(1) translateZ(0);
  }
}

.pulse {
  opacity: 0;
  transform-origin: center;
  animation: pulseLoop 12000ms linear infinite;
}

.pulse-1 {
  animation-delay: -4000ms;
}

.pulse-2 {
  animation-delay: -8000ms;
}

.translate-z-0 {
  transform: translateZ(0);
}

/* Custom Swiper styles */
.swiper-button-disabled {
  @apply pointer-events-none cursor-default opacity-50;
}

.testimonials-carousel .swiper-slide {
  @apply opacity-80;
}

.testimonials-carousel .swiper-slide.swiper-slide-active {
  @apply opacity-100;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Write App */

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &.ProseMirror-selectednode {
    outline: 3px solid #5abbf7;
    filter: brightness(90%);
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */

ul[data-type='taskList'] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type='taskList'] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type='taskList'] li > label input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid black;
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &:hover {
    background-color: #f8f9fa;
  }

  &:active {
    background-color: #e9ecef;
  }

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type='taskList'] li[data-checked='true'] > div > p {
  color: #a8a29e;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
